<div *ngIf="!userNotFound">
  <div class="bg-white p-6 rounded-lg shadow-lg flex items-center space-x-4">
    <img
      [src]="userInfo.avatar_url"
      alt="User Avatar"
      class="rounded-full shadow-lg h-32 w-32"
    />

    <div>
      <h2 class="text-xl font-semibold">User Details</h2>
      <p class="text-gray-600">User ID: {{ userInfo.id }}</p>
      <p>Username: {{ userInfo.login }}</p>
      <p>Name: {{ userInfo.name }}</p>
      <p>🔗{{ userInfo.html_url }}</p>
    </div>
  </div>

  <ul class="grid grid-cols-2 gap-4 my-4">
    <li
      *ngFor="let repository of repositories"
      class="bg-white p-4 rounded-lg shadow-md"
    >
      <app-repository-item
        [repository]="repository"
        (repositoryClicked)="handleRepositoryClick($event)"
      ></app-repository-item>
    </li>
  </ul>

  <app-skeleton-loader *ngIf="isLoading"></app-skeleton-loader>

  <div *ngIf="userNotFound">User not found.</div>
  <router-outlet></router-outlet>

  <div class="flex justify-center items-center my-6">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item" [class.active]="currentPage === 1">
          <a
            class="page-link"
            (click)="goToPage(currentPage - 1)"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let page of totalPagesArray()"
          [class.active]="currentPage === page"
        >
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.active]="currentPage === totalPages">
          <a
            class="page-link"
            (click)="goToPage(currentPage + 1)"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
