.div {
  margin-bottom: 5px;
}

.searchBar {
  background-color: blue-500;
  color: white;
  padding: 2px;
  // @media (min-width: 640px) {
  //   padding: 4px;
  // }
  border-radius: 0.375rem;
}

  

 